a {
    text-decoration: none;
}

.dbox .icon span {
    font-size: 20px;
    color: #fff;
}

.dbox .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #1b0088;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 20px;
}

.Background-title {
    background-image: url("/img/Contacto1.jpg");
    position: relative;
    top: -25px;
    height: 200px;
    width: 100%;
    background-position: center;
    background-position-y: 40%;
    background-repeat: no-repeat;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
}

.Background-title h2 {
    color: #1b0088;
    text-shadow: 2px 2px 4px #ffffff;
    backdrop-filter: blur(10%);
    font-weight: 500;
}

@media (max-width: 500px) {
    .Background-title {
        top: -40px;
        border-radius: 0px 0px 10px 10px;
    }
}