/* Background Destinos */

.Background-title {
    background-image: url("/img/Takeoff.jpg");
    position: relative;
    top: -10px;
    height: 200px;
    width: 2rem;
    background-position: center;
    background-position-y: 40%;
    background-repeat: no-repeat;
    justify-content: center;
}

.Background-title h1 {
    color: #1b0088;
    text-shadow: 2px 2px 4px #ffffff;
    backdrop-filter: blur(10%);
    font-weight: 500;
}

@media (max-width: 500px) {
    .Background-title {
        border-radius: 0px 20px 20px;
    }
}


/* 
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
 */